.btn1 {
    /* position: absolute;
    box-shadow: 0 0 6.1px 0.9px grey;
    padding: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: grey;
    text-align: center;
    color: white;
    border-radius: 50%; */
}
/* .prev {
    left: 1rem;
}
.next {
    right: 1rem;
} */
.disable {
    opacity: 0.5;
    pointer-events: none;
}